<p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly
  meets the new Retina HD display.</p>
<p>It’s one continuous form where hardware and software function in perfect unison, creating a new generation of phone that’s
  better by any measure.</p>


<!-- <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card card-calendar">
              <div class="card-content">
                <div id="fullCalendar"></div>
              </div>
            </div>
          </div>
        </div>
      </div> -->