<div class="main-content" style="padding-top: 0px;">
  <div class="container-fluid">
    
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header"style="margin-top:2em ;margin-bottom:1em">
            <h4 class="card-title">Tabs</h4>
            <!-- <p class="category">Vertical tabs</p> -->
          </div>
          <div class="card-content">
            <div class="row">
              <div class="left-vertical-tabs" style="width: 145px">
                <ul class="nav nav-stacked" role="tablist" style="width:142px">
                  <li class="active">
                    <a href="#dash" role="tab" data-toggle="tab">
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="#standards" role="tab" data-toggle="tab">
                      Standards
                    </a>
                  </li>
                  <li>
                    <a href="#setup" role="tab" data-toggle="tab">
                      <!-- sidebar-mini="true" -->
                      Setup
                    </a>
                  </li>
                  <li>
                    <a href="#planning" role="tab" data-toggle="tab">
                      Planning
                    </a>
                  </li>
                  <li>
                    <a href="#impl" role="tab" data-toggle="tab">
                      Implementation
                    </a>
                  </li>
                  <li>
                    <a href="#setup" role="tab" data-toggle="tab">
                      Reporting
                    </a>
                  </li>
                </ul>
              </div>
              <div class="right-text-tabs" style="padding-left: 0em">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane active" id="dash">
                     <!-- <app-boss></app-boss> -->
                     <personal-dashboard-cmp></personal-dashboard-cmp>
                  </div>
                  <div class="tab-pane" id="standards">
                    <app-big></app-big>
                  </div>
                  <div class="tab-pane" id="setup">
                       <app-personal-setup></app-personal-setup>
                  </div>
                  <div class="tab-pane" id="planning">
                    <app-planning></app-planning>
                  </div>
                  <div class="tab-pane" id="impl">
                    <app-personal-implementation></app-personal-implementation>
                  </div>
                  <div class="tab-pane" id="report">
                    <app-report></app-report>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-lg-6 col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Tabs</h4>
            <p class="category">Plain text tabs</p>
          </div>
          <div class="card-content">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                  <li class="active">
                    <a href="#home" data-toggle="tab">Home</a>
                  </li>
                  <li>
                    <a href="#profile" data-toggle="tab">Profile</a>
                  </li>
                  <li>
                    <a href="#messages" data-toggle="tab">Messages</a>
                  </li>
                </ul>
              </div>
            </div>
            <div id="my-tab-content" class="tab-content text-center">
              <div class="tab-pane active" id="home">
                <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface
                  that seamlessly meets the new Retina HD display.</p>
              </div>
              <div class="tab-pane" id="profile">
                <p>Here is your profile.</p>
              </div>
              <div class="tab-pane" id="messages">
                <p>Here are your messages.</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    
    </div>

  </div>
</div>