<div class="card card-plain col-md-12" style=" padding-left: 0px; padding-right: 0px">
  <button type="button" class="btn btn-info btn-simple" data-toggle="modal" data-target="#myModal">Add Company Description</button>
  <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Machinery</th>
        <th>Model</th>
        <th>Number</th>
        <th>Utilisation</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="30" rows="1" placeholder="Name" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <!-- setp-control-txt or setp-control-xs or setp-control choose textarea size-->
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="30" rows="1" placeholder="Machinery" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style="padding-top:1.em; padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="50" rows="1" placeholder="Model" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="30" rows="1" placeholder="Number" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="80" rows="1" placeholder="Utilisation (%)" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
    <button type="button" class="btn btn-primary btn-simple pull-right" ng-click="addRegister(comp)">Save</button>
  </div>
</div>