<!-- <div class="main-content" style="padding-top:0em">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header" style="margin-top:2em ;margin-bottom:1em">
            <h4 class="card-title">Colours Personal</h4>
          </div>
          <div>
            <h5 class="title" style="margin-top:0em; margin-bottom: 5px; color:darkslategray; padding-left:4em">Classification-Name...</h5>
            <!- {{Classification}} ->
          </div>
          <div class="card-content">
            <div class="row">
               -->
              
              
              <div class="left-vertical-tabs" style="width:120px">
                <ul class="nav nav-stacked" role="tablist" style="width:142px">
                  <li class="active">
                    <a href="#dash" role="tab" data-toggle="tab">
                      Dashboard
                    </a>
                  </li>
                  <li>
                    <a href="#standards" role="tab" data-toggle="tab">
                      Standards
                    </a>
                  </li>
                  <li>
                    <a href="#setup" role="tab" data-toggle="tab">
                      <!-- sidebar-mini="true" -->
                      Setup
                    </a>
                  </li>
                  <li>
                    <a href="#planning" role="tab" data-toggle="tab">
                      Planning
                    </a>
                  </li>
                  <li>
                    <a href="#impl" role="tab" data-toggle="tab">
                      Implementation
                    </a>
                  </li>
                  <li>
                    <a href="#reporting" role="tab" data-toggle="tab">
                      Reporting
                    </a>
                  </li>
                </ul>
              </div>
              <div class="right-text-tabs">
                <!-- Tab panes -->
                <div class="tab-content">
                  <div class="tab-pane" id="setup" style="padding-left:2em; margin-top:1em">
                    <!-- <div class="right-text-tabs"> -->
                    <div class="tab-content">
                      <div class="tab-pane active">
                        <div class="row">
                        <subsetup-personal-cmp></subsetup-personal-cmp>
                        </div>
                      </div>
                    </div>
                    <!-- </div> -->
                  </div>
                </div>
              </div>
<!-- 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

