<div class="card card-plain col-md-12">
  <form>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label>Create New Subsidiaries</label>
          <input type="text" class="form-control border-input" placeholder="e.g. Southland">
        </div>
      </div>
    </div>
    <div class="spacer" style="height:1em"></div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <button type="submit" class="btn btn-simple btn-success pull-right"> Save </button>
        </div>
      </div>
    </div>
  </form>
</div>





<!-- <div style="margin-left: 2em">
  <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly
    meets the new Retina HD display.</p>
  <p>It’s one continuous form where hardware and software function in perfect unison, creating a new generation of phone that’s
    better by any measure.</p>
</div> -->