<div class="wrapper">
    <div class="sidebar" data-background-color="white" data-active-color="danger">
        <sidebar-cmp></sidebar-cmp>
    </div>
    <div class="main-panel">
        <navbar-cmp></navbar-cmp>
        <div class="content">
            <!-- /////////////    BEGINING OF THE Wizards   \\\\\\\\\\\\\ -->

            <!-- colours wizard -->
            <app-wizard></app-wizard>
           <!-- <p>it works </p> -->

            <!-- /////////////    END OF THE DASHBOARD   \\\\\\\\\\\\\ -->
        </div>
        <!-- <footer-cmp></footer-cmp> -->
    </div>
</div>
<!-- <fixedplugin-cmp></fixedplugin-cmp> -->