<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="padding-right:40px; padding-left:40px">
            <div class="col-lg-4 col-sm-6" style="padding-right:20px; padding-left:20px">
                <div class="card" style="height:480px">
                    <!--  style="height:600px" -->
                    <div class="card-content btn-magnify">
                        <div class="row col-x-5" style="margin-left:2em; padding-bottom: -1em">
                            <div class="pull-left" style="color: steelblue">
                                <!-- <a><font size="5">Colours Personal</font></a> -->
                                <h5>
                                    <i class="ti-palette"></i> Colours Personal</h5>
                            </div>
                            <!-- <div class="row">
                              <timeline-cmp></timeline-cmp>
                            </div> -->
                        </div>
                        <!-- <hr class="line" style="padding-bottom:0em; padding-top: -1em"> -->
                        <div class="pull-left" style="margin-left:2em;padding-top: -1em; color: steelblue ">
                            <font size="3">My Diary Today</font>
                        </div>
                        <div class="spacer" style="height: 2em;"></div>
                        <div class="row">
                            <div class="row">
                                <div class="col-xs-6" style="margin-left:3.0em; margin-right:-1.0em">
                                    <p style="color:lightgrey">
                                        <font size=3>Meeting</font>
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <div class="pull-right">
                                        <span class="label label-warning">
                                            1000 Hrs
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6" style="margin-left:3.0em; margin-right:-1.0em">
                                    <p style="color:lightgrey">
                                        <font size=3>Email</font>
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <div class="pull-right">
                                        <span class="label label-success">
                                            1230 Hrs
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6" style="margin-left:3.0em; margin-right:-1.0em">
                                    <p style="color:lightgrey">
                                        <font size=3>Skype</font>
                                    </p>
                                </div>
                                <div class="col-xs-4">
                                    <div class="pull-right">
                                        <span class="label label-success">
                                            1400 Hrs
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-content btn-magnify">
                        <div class="pull-left" style="margin-left:2.0em; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            <a>
                                <i class="fa fa-pie-chart fa-fw"></i>
                                <font size="3">Personal Metrics</font>
                            </a>
                        </div>
                        <div class="spacer" style="height:2.1em"></div>
                        <!-- chart1 -->
                        <div class="row">
                            <div class="card-content">
                                <a class="pull-left" style="color:lightgrey; margin-left:2em">
                                    <font size=3> Total Progress</font>
                                </a>
                                <div id="chartTotalEarnings" style="margin-left:1em"></div>
                            </div>
                            <div class="card-content">
                                <p style="color:lightgrey; margin-left:2em">
                                    <font size=3>Weekly progress</font>
                                </p>
                                <div id="chartTotalSubscriptions" style="margin-left:1em"></div>
                            </div>
                        </div>
                        <!-- ****End of Charts**** -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" style="padding-right:20px; padding-left:20px">
                <div class="card" style="height:480px">
                    <!--  style="height:410px" data-background-color="green" -->
                    <div class="card-content btn-magnify">
                        <div class="row col-x-5" style="margin-left:2em; padding-bottom: -1em ">
                            <div class="pull-left" style="color: steelblue">
                                <h5>
                                    <i class="ti-layout-tab-v"></i> Colours Projects</h5>
                            </div>
                        </div>
                        <!-- <hr class="line" style="padding-bottom:0em; padding-top: -1em"> -->
                        <div class="pull-left" style="margin-left:2em;padding-top: -1em; color: steelblue; ">
                            <font size="3">My Current Priority Projects</font>
                        </div>
                        <div class="spacer" style="height:2.4em;"></div>
                        <div class="row">
                            <div class="col-xs-10 " style="margin-left:2.0em">
                                <a class="text-danger" style="color:lightgrey" href="#send_agenda">
                                    <font size=3>Joina City</font>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 " style="margin-left:2.0em">
                                <a class="text-danger" style="color:lightgrey" href="#send_agenda">
                                    <font size=3>Aripo Offices</font>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 " style="margin-left:2.0em">
                                <a class="text-danger" style="color:lightgrey" href="#send_agenda">
                                    <font size=3>Colours Software</font>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 " style="margin-left:2.0em">
                                <a class="text-danger" style="color:lightgrey" href="#send_agenda">
                                    <font size=3>Beitbridge</font>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content btn-magnify">
                        <div class="pull-left" style="margin-left:2.0em; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            <a>
                                <font size="3"><i class="fa fa-line-chart fa-fw"></i> Project Metrics</font>
                            </a>
                        </div>
                        <div class="spacer" style="height:2.1em"></div>
                        <!-- chart1 -->
                        <div class="row">
                            <div class="card-content">
                                <a class="pull-left" style="color:lightgrey; margin-left:2em">
                                    <font size=3> Total Progress</font>
                                </a>
                                <div id="chartTotalDownloads" style="margin-left:1.4em"></div>
                            </div>
                            <div class="card-content">
                                <p style="color:lightgrey; margin-left:2em">
                                    <font size=3>Weekly progress</font>
                                </p>
                                <div id="chartActivity" style="margin-left:1em"></div>
                            </div>
                        </div>
                        <!-- ****End of Charts**** -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6" style="padding-right:20px; padding-left:20px">
                <div class="card" style="height:480px">
                    <!--  style="height:410px" -->
                    <div class="card-content btn-magnify">
                        <div class="row col-x-5" style="margin-left:2em; padding-bottom: -1em ">
                            <div class="pull-left" style="color:steelblue">
                                <h5>
                                    <i class="ti-briefcase"></i> Colours Enterprise</h5>
                            </div>
                        </div>
                        <!-- <hr class="line" style="padding-bottom:0em; padding-top: -1em"> -->
                        <div class="pull-left" style="margin-left:2em;padding-top: -1em; color: steelblue; ">
                            <font size="3">High Priority Enterprise Tasks</font>
                        </div>
                        <!-- <div class="numbers" style="margin-left:1em; color:rgb(15, 4, 4)">High Priority Enterprise Tasks</div> -->
                        <div class="spacer" style="height:2.4em;"></div>
                        <div class="row">
                            <div class="col-xs-10 " style="margin-left:2em">
                                <a class="text-danger" style="color:lightgrey" href="#send_agenda">
                                    <!-- style="color:darkgrey" -->
                                    <font size=3>Send Agenda</font>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10" style="margin-left:2em">
                                <a href="#Respond_to_mail" style="color:lightgrey">
                                    <font size=3>Respond to Mail</font>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10" style="margin-left:2em">
                                <a href="#Contact_Supplier" style="color:lightgrey">
                                    <font size=3>Contact Supplier</font>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10" style="margin-left:2em">
                                <a href="#Aripo" style="color:lightgrey">
                                    <font size=3>Aripo</font>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="card-content btn-magnify">
                        <div class="pull-left" style="margin-left:2.0em; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">
                            <a>
                                <font size="3">
                                    <i class="fa fa-area-chart fa-fw"></i> Enterprise Metrics</font>
                                <!-- color="steelblue" -->
                                <!-- <span class="text-muted">Projects </span>Register -->
                            </a>
                        </div>
                        <div class="spacer" style="height:2.1em"></div>
                        <!-- chart1 -->
                        <div class="row">
                            <div class="card-content">
                                <a style="color:lightgrey;margin-left:2em">
                                    <font size=3>Total progress</font>
                                </a>
                                <div id="chartEnt1" class="ct-chart" style="margin-left:1em"></div>
                            </div>
                            <div class="card-content">
                                <p style="color:lightgrey;margin-left:2em">
                                    <font size=3>Weekly progress</font>
                                </p>
                                <div id="chartEnt2" class="ct-chart" style="margin-left:1em"></div>
                            </div>
                        </div>
                        <!-- ****End of Charts**** -->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1" style="padding-top: 0px;padding-bottom: 0px" > <!-- col-lg-12 -->
                <div class="card card-stats" data-background-color="blue">
                    <div class="card-header" >
                        <a class="card-header btn-magnify" style="color: #1e1f20"><i class="ti-rss-alt"></i><span></span> Colours Marketplace News Feeds</a>
                        <!-- <h3 class="card-title hidden-tittle">4</h3> -->
                    </div>
                    <span>
                        <marquee>
                            <p> <a  style="color: red" href="#">Listed company looking for business Development Manager</a><a> .... </a>
                            <a style="color: orangered" href="#">Edigars Foundation Development</a><a> .... </a></p>
                        </marquee>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
