<div class="card-content">
  <div class="nav-tabs-navigation">
    <div class="nav-tabs-wrapper">
      <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        <li class="active">
          <a href="#home" data-toggle="tab">Task Scheduler</a>
        </li>
        <li>
          <a href="#calendar" data-toggle="tab">Calendar</a>
        </li>
      </ul>
    </div>
  </div>
  <div id="my-tab-content" class="tab-content text-center">
    <div class="tab-pane active" id="home">
      <!-- Task Scheduler -->
      <div class="col-md-12">
        <div style="color: grey">
          <div>
            <h5 class="title" style="margin-top:0em; color: grey">Task Scheduler</h5>
          </div>
          <div class="content">
            <table class="table-nested">
              <thead>
                <tr>
                  <th></th>
                  <th class="cell-input">
                    <span class="ti-plus"></span>Task Name</th>
                  <th> Duration </th>
                  <th> Start </th>
                  <th> End </th>
                  <th> Champion </th>
                </tr>
              </thead>
              <!-- ngRepeat: item in list -->
              <tbody>
                <tr>
                  <form class="ng-pristine ng-valid"></form>
                  <td class="cell-input">
                    <input type="text" placeholder="New Task">
                  </td>
                  <td class="cell-input">
                    <input type="text" placeholder="duration">
                  </td>
                  <td class="cell-input">
                    <input type="date" placeholder="start">
                  </td>
                  <td class="cell-input">
                    <input type="date" placeholder="end">
                  </td>
                  <td class="cell-input">
                    <input type="text" placeholder="Project Champion">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane" id="calendar">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <div class="card card-calendar">
              <div class="card-content">
                <div id="fullCalendar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
