<div class="col-md-10 col-md-offset-1">
  <div class="card-header">
    <h5 class="card-title">Project Labour Returns</h5>
    <p class="category">The description of your project must divide your project into different sections e.g. Blocks and/or other sections like
      Civils etc.</p>
    <p class="category">These sections may be further divided into sub-sections for each section e.g. a block divided into floors. Tasks and
      activities may then be planned within this framework.</p>
  </div>
  <div class="card-content">
    <div id="acordeon">
      <div class="panel-group" id="accordion"></div>
    </div>
  </div>
  <button type="button" class="btn btn-info btn-simple" data-toggle="modal" data-target="#sectionModal" ng-click="resetSection()">Add new Section</button>
</div>