<div class="wrapper">
  <div class="sidebar" data-background-color="white" data-active-color="danger">
    <sidebar-cmp></sidebar-cmp>
  </div>
  <div class="main-panel">
    <navbar-cmp></navbar-cmp>
    <div class="content">
      <!-- /////////////    Begining OF THE Calendar   \\\\\\\\\\\\\ -->

      <div class="card">
        <!-- <app-cost-table></app-cost-table> -->
        <app-section-one></app-section-one>
        <app-section-two></app-section-two>
        <app-section-three></app-section-three>
        <app-section-four></app-section-four>
        <app-section-five></app-section-five>
        <app-section-six></app-section-six>
      </div>
      <!-- /////////////    END OF THE Calendar   \\\\\\\\\\\\\ -->
    </div>
  </div>
</div>