<div class="card card-plain col-md-12" style=" padding-left: 0px; padding-right: 0px">
  <button type="button" class="btn btn-info btn-simple" data-toggle="modal" data-target="#myModal">Add Company to Directory</button>
  <table class="table">
    <thead>
      <tr>
        <th>Role</th>
        <th>Company</th>
        <th>Address</th>
        <th>Contact Name</th>
        <th>Tel/Fax</th>
        <th>Mobile</th>
        <th>Email Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control-xs" name="" id="" cols="30" rows="1" placeholder="Principal" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control-xs" name="" id="" cols="30" rows="1" placeholder="Southland" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style="padding-top:1.em; padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="50" rows="1" placeholder="1 First Street" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control" name="" id="" cols="30" rows="1" placeholder="Simon Moyo" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control-txt" name="" id="" cols="30" rows="1" placeholder="042585255" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 0px">
          <textarea class="form-control setp-control-txt" name="" id="" cols="30" rows="1" placeholder="0785245225" style="padding-left: 5px; padding-right: 5px"></textarea>
        </td>
        <td style=" padding-left: 0px; padding-right: 1px">
          <textarea class="form-control setp-control" name="" id="" cols="30" rows="1" placeholder="simon@mail.com" style="padding-left: 5px; padding-right: 0px"></textarea>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
    <button type="button" class="btn btn-primary btn-simple pull-right" ng-click="addRegister(comp)">Save</button>
  </div>
</div>