<nav class="navbar navbar-transparent navbar-absolute">
  <div class="container">
  </div>
</nav>
<div class="wrapper wrapper-full-page">
  <div class="register-page">
    <!--   you can change the color of the filter page using: data-color="blue | azure | green | orange | red | purple" -->
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-md-offset-1">
            <div class="logo" style="width: 15px; height: auto; padding-top:1.5em; padding-bottom:1.5em">
              <a routerLink="/dashboard/overview" class="simple-text logo-mini">
                <div class="logo-imgn">
                  <img src="./assets/img/faces/colours_icon2.png" />
                </div>
              </a>
            </div>
          </div>
        </div>
        <br>
        <style>
          .reg-col{
            margin-bottom: 1em
          }
        </style>
        <div class="row">
          <div class="col-md-6 col-md-offset-1 reg_info">
            <div class="media  reg-col">
              <div class="media-left">
                <div class="icon icon-danger">
                  <p>
                    <i class="ti ti-user"></i>
                    <font size="5"> Colours Personal</font>
                    <br>
                    <small>
                      <span><font size="6">.</font></span>
                      <span><font size="5">.</font></span>
                      <span><font size="4">.</font></span>
                      <span><font size="3">.</font></span>
                      my true colours</small>
                  </p>
                </div>
              </div>
              <div class="contents">
                <div class="contents">
                  <div class="media-body">
                      <p class="text"><span><font size="2">
                        <b>I want to be financially secure. I want to practically increase my financial net worth. I want to be a more productive person.
                        I want more out of my life. I want my life to achieve more results. I want to use my time more efficiently. I want to convert
                        my time into more physical, financial and social results.</b>
                      <br>
                         Use Colours to conceive, plan and execute your activities more efficiently. Colours will help you collect and produce your
                        own productivity metrics, which you can use to take necessary corrective action towards better personal results. Colours
                        will be your personal productivity mirror. Know your own productivity colours and make the necessary changes to improve your
                        productivity. Use Colours Marketplace to link with friends and mentors to help you to be accountable to yourself. Accept
                        that accountability to self or others is actual your means of production. Use Colours to be more fruitful. Use Colours
                        to deliver more practical results. Use Colours to acquire better habits and disciplines.
                      </font></span></p>
                      <p><span><font size="2">
                        <b>I want to find a job. I want my talent and capabilities to be discovered by good companies.</b></font></span></p>
                      <p><span><font size="2">
                         Over a period of time, use Colours to compile your productivity metrics into your performance profile. Post your performance
                        profile on Colours Marketplace so that your talent can be discovered by great companies. Great companies want to know the
                        true performance colours of prospective staff members.
                      </font></span></p>     
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="media reg-col">
              <div class="media-left">
                <div class="icon icon-warning">
                  <p>
                    <i class="ti-stats-up"></i>
                    <font size="5"> Colours Project</font>
                    <br>
                    <small>
                      <span><font size="6">.</font></span>
                      <span><font size="5">.</font></span>
                      <span><font size="4">.</font></span>
                      <span><font size="3">.</font></span>
                      putting things in black & white, better than being on the ground
                    </small>
                  </p>
                </div>
              </div>
              <div class="contents">
                <div class="contents"> <!--  reg_info -->
                  <div class="media-body">                    
                    <p><span><font size="2">
                      <b>We want to deliver projects more efficiently. We want to reduce project risk. We want to improve productivity in projects.
                        We want better project financial results.</b>
                    </font></span></p>
                    <p><span><font size="2">
                      Use Colours Project to collect real time individual staff and team, productivity metrics. Use Colours to conceive, plan and
                      implement projects more efficiently. Colours also has tools to help you implement more efficiently. While offsite, get to
                      know what’s happening on the ground better than when you are on the ground yourself. This real time accountability leads
                      to higher productivity by individuals and teams on a project. End result is more financially rewarding projects.
                    </font></span></p>
                    <p><span><font size="2">
                      <b>We want to create a competitive edge that will help us procure more project business.</b></font></span></p>
                    <p><span><font size="2">
                      Use Colours to help you operate more efficiently across your enterprise. Compile your improved enterprise performance metrics
                      and reports into an attractive performance profile. Post your attractive performance profile on Colours Marketplace to secure
                      more business.
                    </font></span></p>
                    <p><span><font size="2">
                      <b>We want to know the true performance colours of prospective staff.</b></font></span></p>
                    <p><span><font size="2">
                      Use Colours Marketplace to procure new staff members. Talent looking for new jobs would have, overtime compiled their own
                      Colours performance metrics into performance profiles. These Job Seekers would go on to post the same on Colours Marketplace
                      to look for new jobs.
                    </font></span></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="media reg-col">
              <div class="media-left">
                <div class="icon icon-info">
                  <p>
                    <i class="ti-pie-chart"></i>
                    <font size="5"> Colours Enterprise</font>
                    <br>
                    <small>
                      <span><font size="6">.</font></span>
                      <span><font size="5">.</font></span>
                      <span><font size="4">.</font></span>
                      <span><font size="3">.</font></span>
                      What colour is your bottomline?</small>
                  </p>
                </div>
              </div>
              <div class="contents"> <!--  reg_info -->
                <div class="media-body">
                  <p><span><font size="2">
                      <b>We want to be operationally more efficient to improve our bottomline.</b>
                    </font></span></p>
                    <p><span><font size="2">
                       Use Colours for higher individual staff and team performance accountability across the enterprise. Real time accountability
                      leads to higher individual staff and team productivity. Real time accountability means management can see real time individual
                      staff and team productivity reports and metrics across the enterprise.
                    </font></span></p>
                    <p><span><font size="2">
                      <b>We want to create a competitive edge to help us procure new business.</b></font></span></p>
                    <p><span><font size="2">
                      Colours Project will help you improve individual and team project performance metrics. Over a period of time, use Colours
                      to collect your project performance metrics into an attractive projects performance profile. Post your projects performance
                      profile on Colours Marketplace to procure more projects business.
                    </font></span></p>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <form method="#" action="#">
              <div class="card card-plain">
                <div class="content">
                  <form #f="ngForm">
                    <div class="card-content">
                      <div class="header">
                        <h4 class="title" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0">New to Colours, Create account
                          <br>
                          <small>Register using email</small>
                        </h4>
                      </div>
                    </div>
                    <div class="card-content">
                      <div class="form-group-colours">
                        <input type="email" class="form-control" name="email" placeholder="Enter email" [ngModel]="register.email" required #email="ngModel"
                          pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                        <small [hidden]="email.valid || (email.pristine && !f.submitted)" class="text-danger">
                          Email is required and format should be
                          <i>shalvy@ngdevs.com</i>.
                        </small>
                      </div>
                      <div class="form-group-colours">
                        <input type="password" class="form-control" name="password" placeholder="Password" [ngModel]="register.password" required
                          validateEqual="confirmPassword" reverse="true" #password="ngModel">
                        <small [hidden]="password.valid || (password.pristine && !f.submitted)" class="text-danger">
                          Password is required
                        </small>
                      </div>
                      <div class="form-group-colours">
                        <input type="password" class="form-control" name="confirmPassword" placeholder="Confirm Password" [ngModel]="register.confirmPassword"
                          required validateEqual="password" reverse="false" #confirmPassword="ngModel">
                        <small [hidden]="confirmPassword.valid || (confirmPassword.pristine && !f.submitted)" class="text-danger">
                          Password mismatch
                        </small>
                      </div>
                    </div>
                    <div class="card-footer">
                      <div class="checkbox pull-left">
                        <input id="checkbox1" name="optionsCheckboxes" type="checkbox" [ngModel]>
                        <label for="checkbox1">
                          Subscribe to newsletter
                        </label>
                      </div>
                      <div class="form-group-colours text-right" style="margin-top:8px">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Register</button>
                      </div>
                      <!-- <a href="./dashboard/overview"></a> -->
                    </div>
                    <div class="link">
                      <a class="button" routerLink="/pages/login" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0">Account already exist, login to Colours by email.
                      </a>
                    </div>
                  </form>
                </div>
                <div class="card-content">
                  <div class="header">
                    <h4 class="title" style="margin-top:10px ; margin-bottom :10px; color:#5f9ea0">Social Media
                      <br>
                      <small>Login/Register using google, twitter or facebook</small>
                    </h4>
                  </div>
                  <div class="content row col-md-8">
                    <a type="button" class="btn btn-icon btn-twitter" routerLink="/dashboard/overview">
                      <i class="ti-twitter-alt"></i>
                    </a>
                    <a type="button" class="btn btn-icon btn-facebook" routerLink="/dashboard/overview">
                      <i class="ti-facebook"> </i>
                    </a>
                    <a type="button"n class="btn btn-icon btn-google" routerLink="/dashboard/overview">
                      <i class="ti-google"> </i>
                    </a>
                  </div>
                  <!-- <div class="content">
                    <div class="row">
                      <div class="col-md-12">
                        <div>
                          <button type="submit" style="width: 240px" class="btn btn-warning btn-fill btn-wd" href="dashboard/overview"><i class="ti-google"></i> Google</button> <!- ng-click="signInGoogle()" ->
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="row">
                      <div class="col-md-12">
                        <div>
                          <button type="submit" style="width: 240px" class="btn btn-primary btn-fill btn-wd" ng-click="signInTwitter()"><i class="ti-twitter"></i> Twitter</button>
                        </div>
                      </div>
                    </div>
                    <br>
                    <style>
                      .btn-blue{
                        background-color: #1e90ff;
                        border-color:#1e90ff
                      }
                    </style>
                    <div class="row">
                      <div class="col-md-12">
                        <div>
                          <button type="submit" style="width: 240px" class="btn btn-blue btn-fill btn-wd" ng-click="auth.$signInWithPopup('facebook')"
                            disabled=""><i class="ti-facebook"></i> Facebook</button>
                        </div>
                      </div>
                    </div>
                  </div> -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

