<div class="card card-plain col-md-12" style=" padding-left: 0px; padding-right: 0px">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <button type="button" class="btn btn-info btn-simple" data-toggle="modal" data-target="#myModal">Company Labour Returns</button>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <button type="button" class="btn btn-info btn-simple" data-toggle="modal" data-target="#myModal">Company Plant Returns</button>
      </div>
    </div>
  </div>
  <br>
  <div class="row footer">
    <button type="button" class="btn btn-primary btn-simple pull-right" ng-click="addRegister(comp)">Save</button>
  </div>
</div>