<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">×</button>
      <h4 class="modal-title">Add Company to Project Directory</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Company</label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.company" type="text" name="company"
              placeholder="ex: South">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label"> Role </label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.role" type="text" placeholder="e.g. Architects">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Contact Name</label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.contactName" type="text" placeholder="e.g. John Banda">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label"> Contact Title </label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.contactTitle" type="text" placeholder="e.g. Principal">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Street Address</label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.address1" type="text" placeholder="50 King George Rd">
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="form-group">
            <label class="control-label"> Area </label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.address2" type="text" placeholder="Eastlea">
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="form-group">
            <label class="control-label"> City </label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.address3" type="text" placeholder="Harare">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Company Telephone</label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.telephone" type="number" placeholder="e.g. 042552555">
          </div>
        </div>
        <div class="col-md-5 col-md-offset-1">
          <div class="form-group">
            <label class="control-label"> Contact Mobile </label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty" ng-model="comp.mobile" type="number" placeholder="e.g. 0775258258">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label"> Contact Email </label>
            <input class="form-control ng-pristine ng-untouched ng-valid ng-empty ng-valid-email" ng-model="comp.email" type="email"
              placeholder="e.g. john@mail.com">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="addRegister(comp)">Save</button>
    </div>
  </div>

</div>



<div class="tab-pane" id="daily">
  <!-- <p>Larger.</p> -->
  <!-- ++++++++++++++++++++++++++++++++My diary Today++++++++++++++++++++++++++++++++ -->
  <div class="row">
    <div class="col-md-10">
      <div class="card" style=" margin-left:5em; height:480px">
        <!--  style="height:600px" -->
        <div class="card-content btn-magnify">
          <div class="row col-x-5" style="margin-left:1em; padding-bottom: -1em">
            <div class="col-xs-6 pull-left" style="color: steelblue">
              <!-- <a><font size="5">Colours Personal</font></a> -->
              <h5>
                <i class="ti-palette"></i> Colours Personal</h5>
            </div>
          </div>
          <!-- <hr class="line" style="padding-bottom:0em; padding-top: -1em"> -->
          <div class="col-xs-6 pull-left" style="margin-left:1em;padding-top: -1em; color: steelblue ">
            <font size="3">My Diary Today</font>
          </div>
          <div class="spacer" style="height: 2em;"></div>
          <div class="row">
            <div class="row">
              <div class="col-xs-4 col-md-offset-1 pull-left">
                <p style="color:lightgrey">
                  <font size=3>Meeting</font>
                </p>
              </div>
              <div class="col-xs-4">
                <div class="pull-right">
                  <span class="label label-warning">
                    1000 Hrs
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-offset-1 pull-left">
                <p style="color:lightgrey">
                  <font size=3>Email</font>
                </p>
              </div>
              <div class="col-xs-4">
                <div class="pull-right">
                  <span class="label label-success">
                    1230 Hrs
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-6 pull-left">
                <p style="color:lightgrey">
                  <font size=3>Skype</font>
                </p>
              </div>
              <div class="col-xs-4">
                <div class="pull-right">
                  <span class="label label-success">
                    1400 Hrs
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content btn-magnify">
          <div class="col-xs-6 pull-left">
            <a>
              <i class="fa fa-pie-chart fa-fw"></i>
              <font size="3"> Metrics</font>
            </a>
          </div>
          <div class="spacer" style="height:2.1em"></div>
          <!-- chart1 -->
          <div class="row">
            <div class="card-content">
              <a class="pull-left" style="color:lightgrey; margin-left:1em">
                <font size=3> Total Progress</font>
              </a>
              <div id="chartTotalEarnings"></div>
            </div>
            <div class="card-content">
              <p style="color:lightgrey;margin-left:1em">
                <font size=3>Weekly progress</font>
              </p>
              <div id="chartTotalSubscriptions"></div>
            </div>
          </div>
          <!-- ****End of Charts**** -->
        </div>
      </div>
    </div>
  </div>
</div>
