
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card-content">
                <table class="table table-bordered table-striped">
                    <thead></thead>
                    <!-- <div class="row">
                        <div class="col-lg-4 col-md-3">
                            <div class="card-title">
                                <h5>Section</h5>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5">
                            <div class="form-group">
                                <select name="cities" class="form-control">
                                    <option selected=""value="6.0">6</option>
                                    <option value="1.0">1</option>
                                    <option value="2.0">2</option>
                                    <option value="3.0">3</option>
                                    <option value="4.0">4</option>
                                    <option value="5.0">5</option>
                                    <option value="6.0">6</option>
                                </select>
                            </div>
                        </div>
                    </div> -->
                    <tbody>
                        <tr *ngFor="let item of items | async">
                            <!-- <td>{{$index+1}}</td> -->
                            <td>{{item.section6}}</td>
                            <td>{{item.section6_name}}</td>
                            <td>{{item.section6_unit}}</td>
                            <td>{{item.section6_quantity}}</td>
                            <td>{{item.section6_amount}}</td>
                        </tr>
                        <tr>
                            <td><input [(ngModel)]="section6" name="section6" class="form-control costsum-xs "style="padding-left: 5px; padding-right: 5px; padding-top: 0px;padding-bottom: 0px;"> </td>
                            <td><input [(ngModel)]="section6_name" name="section6_name" class="form-control costsum-xs" style="padding-left: 5px; padding-right: 5px; padding-top: 0px;padding-bottom: 0px;"> </td>
                            <td><input [(ngModel)]="section6_unit" name="section6_unit" class="form-control costsum-xs"style="padding-left: 5px; padding-right: 5px; padding-top: 0px;padding-bottom: 0px;"> </td>
                            <td><input [(ngModel)]="section6_quantity" name="section6_quantity" class="form-control costsum-xs" style="padding-left: 5px; padding-right: 5px; padding-top: 0px;padding-bottom: 0px;"> </td>
                            <td><input [(ngModel)]="section6_amount" name="section6_amount" class="form-control costsum-xs" style="padding-left: 5px; padding-right: 5px; padding-top: 0px;padding-bottom: 0px;"> </td>
                            <td><input type="submit" (click)="saveItem6()"> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
