<div class="col-md-12">
  <div style="color: grey">
    <div>
      <h5 class="title" style="margin-top:0em; color: grey">Task Scheduler</h5>
    </div>
    <div class="content">
      <table class="table-nested">
        <thead>
          <tr>
            <th></th>
            <th class="cell-input">
              <span class="ti-plus"></span>Task Name</th>
            <th> Duration </th>
            <th> Start </th>
            <th> End </th>
            <th> Champion </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <form class="ng-pristine ng-valid"></form>
            <td class="cell-input">
              <input type="text" placeholder="New Task">
            </td>
            <td class="cell-input">
              <input type="text" placeholder="duration">
            </td>
            <td class="cell-input">
              <input type="date" placeholder="start">
            </td>
            <td class="cell-input">
              <input type="date" placeholder="end">
            </td>
            <td class="cell-input">
              <input type="text" placeholder="Project Champion">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>




<!-- <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly
  meets the new Retina HD display.</p>
<p>It’s one continuous form where hardware and software function in perfect unison, creating a new generation of phone that’s
  better by any measure.</p> -->