<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 "> <!-- style="margin-left: 3em" -->
                <!-- col-md-offset-1 -->
                <div class="card card-wizard" id="wizardCard">
                    <form id="wizardForm" method="" action="">
                        <div class="card-header text-center">
                            <h4 class="card-title">Advanced Company Profile Setup</h4>
                            <!-- <p class="category">Complete the steps for peer project connection</p> -->
                        </div>
                        <div class="card-content">
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="#tab1" data-toggle="tab">Company details</a>
                                </li>
                                <li>
                                    <a href="#tab2" data-toggle="tab">Address</a>
                                </li>
                                <!-- <li>
                                    <a href="#tab3" data-toggle="tab">Email</a>
                                </li> -->
                                <li>
                                    <a href="#tab3" data-toggle="tab">Finish</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane " id="tab1">
                                    <h3 class="text-center" style="margin-top: 0px; margin-bottom: 0px; padding-top: 0px; padding-bottom: 10px;">
                                      <small>  Please input correct information.</small></h3>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Role
                                                </label>
                                                <input class="form-control" type="text" name="first_name" placeholder="ex: Mike" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Company
                                                </label>
                                                <input class="form-control" type="text" name="last_name" required="true" placeholder="ex: Andrew" />
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Email
                                                    <span class="star">*</span>
                                                </label>
                                                <input class="form-control" type="text" name="email" email="true" placeholder="ex: hello@team.com" />
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">Fax
                                                    <span class="star">*</span>
                                                </label>
                                                <input class="form-control" type="tel" name="fax" placeholder="ex: 249999" />
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Code
                                                </label>
                                                <input class="form-control" type="tel" name="code" placeholder="ex: 06" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">Contact: Telephone
                                                    <span class="star">*</span>
                                                </label>
                                                <input class="form-control" type="tel" name="role" required placeholder="ex:  072 8988 898" />
                                            </div>
                                        </div>
                                    </div>
                        

                                </div>
                                <div class="tab-pane" id="tab2">
                                    <h5 class="text-center">Please give us more details about your platform.</h5>
                                    <Div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Physical Address
                                                </label>
                                                <input class="form-control" type="text" name="role" required placeholder="ex:  7 Woodgate, Mt Mouris" />
                                            </div>
                                        </div>
                                    </Div>
                                   <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Email
                                                    <span class="star">*</span>
                                                </label>
                                                <input class="form-control" type="text" name="email" email="true" placeholder="ex: hello@team.com" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-2">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    Town / City
                                                </label>
                                                <input class="form-control" type="text" name="role" required placeholder="ex:  Harare" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="tab-pane" id="tab3">

                                    <h5 class="text-center">Add the recipient </h5>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">To
                                                    <span class="star">*</span>
                                                </label>
                                                <input class="form-control" type="tel" name="fax" placeholder="email: tben@gmail.com" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-1">
                                            <div class="form-group">
                                                <label class="control-label">Message
                                                    <span class="star">*</span>
                                                </label>
                                                <textarea class="form-control" type="text" name="fax" value="Connection request for the project" placeholder="My message...."></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->

                                <div class="tab-pane" id="tab3">
                                    <h2 class="text-center text-space">Yuhuuu!
                                        <br>
                                        <small> Click on "
                                            <b>Finish</b>" to join our community</small>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left">Back</button>
                            <button type="button" class="btn btn-info btn-fill btn-wd btn-next pull-right">Next</button>
                            <button type="button" class="btn btn-info btn-fill btn-wd btn-finish pull-right" (click)="onFinishWizard()">Finish</button>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
